# Core Django
Django>=5.0,<6.0

# Django REST Framework
djangorestframework>=3.15,<4.0

djangorestframework-simplejwt


# Gunicorn (production WSGI server)
gunicorn>=21.2,<22.0

# Whitenoise (for static files)
whitenoise>=6.6,<7.0

# Database (PostgreSQL adapter for Django)
psycopg2-binary>=2.9,<3.0

# CORS support (if you’re using React/other frontend)
django-cors-headers>=4.3,<5.0
